<!doctype html>
<html data-ng-app="bbpi" data-ng-controller="startCtrl">
<head>
	<title>bbpi</title>
	<base href="http://bbpi:8080/">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-json-api/dist/angular-json-api.js"></script>
    <script src="bower_components/angular-ui/build/angular-ui.js"></script>
    <script src="bower_components/ui-bootstrap-0.12.0.min.js"></script>
    <script src="bower_components/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/bbpilinks.js"></script>
	<script src="js/site.js"></script>
	<link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.css">

</head>
<body data-ng-controller="initCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Welcome to <span class="bbpi">bbpi</span>!</h1>
			</div>
		</div>
		<div class="row" data-ng-controller="menuCtrl">
			<div class="leftbar col-md-4">
				<ul data-ng-repeat="menu in Site.menu">
					<li><a data-ui-sref="{{menu.state}}" data-ng-bind="menu.name"></a></li>
				</ul>
			</div>
			<div class="content col-md-8">
			    <div class="row">
			        <alert ng-repeat="alert in Site.alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			    </div>
				<div class="row" data-ui-view=""></div>
			</div>
		</div>
		<div class="api row" ng-controller="apiCtrl">
            <div class="col-md-12" ng-if="status.status==200">

                {{status.hostname}}
            </div>
		</div>
	</div>
</body>
</html>
