<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/status.js"></script>
</head>
<body>
    <div ng-controller="statusCtrl">
        <ul>
            <li ng-repeat="st in status">{{st.key}}: {{st.val}}</li>
        </ul>
    </div>
</body>
</html>