<div ng-controller="linkCtrl">
    <div class="row" ng-repeat="link in links">
        <div class="col-md-1">ICO</div>
        <div class="col-md-11">
            <a ng-href="{{link.url}}">{{link.title}}</a>
        </div>
    </div>
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
</div>
